{% extends "base.html" %}

{% block content %}
    <p>Test text some text</p>
    <table class="table table-hover table-sm">
        <thead class="table-light">
        <th>Category</th>
        {% for per in periods %}
            <th>{{ per }}</th>
        {% endfor %}
        </thead>
        {% for i in expenses %}
            <tr>
            <td> {{ i.name }} </td>
            {% for mon in i.sums %}
                <td>{{ mon }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}