{% extends "base.html" %}

{% block content %}
    <h3>Budget summary for {{ month.long_name }}:</h3>
    <table class="table table-hover table-sm table-bordered">
        <thead class="table-light">
        <th>Category</th>
        <th style="text-align: center">Baseline</th>
        <th style="text-align: center">Special</th>
        <th style="text-align: center">Total</th>
        </thead>
        {% for i in budget %}
            <tr>
                <td style="text-align: left"><b>{{ i.catname }}</b></td>
                <td style="text-align: right">{{ i.baseline }}</td>
                <td style="text-align: right">{{ i.special }}</td>
                <td style="text-align: right"><b>{{ i.total }}</b></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}