{% extends "base.html" %}

{% block content %}
    <h1>Categories:</h1>
    {% if expenses %}
        <table class="table table-hover table-sm">
        <thead class="table-light">
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Month</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        {% for category in expenses %}
            <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.transaction__month }}</td>
            <td>{{ category.amount }}</td>
            </tr>
        {% endfor %}
        </table>

        <table class="table">
        {% for category in expense_list %}
            <td></td>
        {% endfor %}
        </table>
    {% else %}
        <p>No categories defined</p>
    {% endif %}
{% endblock %}